# ==========================================
# Variables de Entorno para Docker Compose
# ==========================================

# Credenciales de Base de Datos PostgreSQL
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=inventario_db
DB_PORT=5432

# Puerto del Backend
PORT=3000

# URL de conexión a la Base de Datos para Prisma / Backend
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/inventario_db?schema=public

# URL de la API consumida por el Frontend (En el navegador)
VITE_API_URL=http://localhost:3000/api/equipos
