# Puerto del servidor backend
PORT=3000

# Cadena de conexión a PostgreSQL (Formato: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/inventario_db?schema=public"
